*{
    margin: 0;
    padding: 0 ;
font-family: "Outfit", sans-serif;
  font-family: "Playwrite NO", cursive;
    font-family: "Roboto Condensed", sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,0.3)),url(images/back.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 23px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
display: block;
margin: auto;
transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 10px solid #f44336;
    transition: 1s;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{ 
        display: block;

      }
      .nav-links {
        position: absolute;
        background: yellow;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
      }
      nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
      }
      .nav-links{
        padding: 30px;
      }
}
.Branches{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 0;
}


.branches-scroll {
    display: flex;
    overflow-x: auto;     
    gap: 40px;           
    padding: 20px;
    scroll-behavior: smooth;
    white-space: nowrap;
}
       

    .Branches-col{
         flex: 0 0 250px; 
        background: #f44336;
        border-radius: 10px;
        margin-bottom: 5%;
        padding: 20px 12px;
        box-sizing: border-box;
         white-space: normal;
         transition: 0.5s;
    }
    .Branches-col:hover{
       box-shadow: 0 0 15px rgba(0,0,0,0.9);
    }
    @media(max-width: 700px){
        .row{
            flex-direction: column;
        }
    }
    /* MENU HEADER BACKGROUND */
.menu-header {
    min-height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)), url(images/rosted.png);
    background-position: center;
    background-size: 100%;
    position: relative;
}

.menu-title {
    color: white;
    text-align: center;
    margin-top: 100px;
}

.menu-title h1 {
    font-size: 60px;
    letter-spacing: 2px;
}

.menu-title p {
    font-size: 18px;
    margin-top: 10px;
  color: white;
}

/* MENU SECTION */
.menu-section {
    width: 85%;
    margin: auto;
    padding: 60px 0;
    text-align: center;
}

.menu-section h2 {
    font-size: 40px;
    margin-bottom: 40px;
}

/* MENU GRID */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
}

.menu-item {
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    padding: 20px;
    transition: transform 0.3s;
}

.menu-item:hover {
    transform: translateY(-10px);
}

.menu-item img {
    width: 100%;
    height: 170px;
    border-radius: 10px;
    object-fit: cover;
}

.menu-item h3 {
    margin-top: 15px;
    font-size: 22px;
}

.menu-item p {
    color: #555;
    margin: 10px 0;
}

.price {
    font-weight: bold;
    color: #f44336;
    font-size: 20px;
}




.contact-header{
    width: 100%;
    min-height: 50vh;
    background-image: linear-gradient( rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
    url(images/cont.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
.contact-header h1{
    font-size: 60px;
    color: #ccc;
    text-align: center;
}
.contact-header p{
    font-size: 20px;
    color: #ccc;
    text-align: center;
}
.contact-title{
    color: #fff;
    text-align: center;
    margin-top: 120px;
}
.contact-title h1{
    font-size: 55px;
    
}
.contact-title p{
    font-size: 18px;
    margin-top: 10px;
    
}
.contact-section{
    width: 85%;
    margin: auto;
    padding: 70px 0;
}
.contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(300px,1fr));
    gap: 40px;
}
.contact-info{
    background: #fff;
    padding: 30px;
border-radius: 12px;
box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}
.contact-info h2{
    font-size: 28px;
    margin-bottom: 10px;

}
.contact-info h3{
    margin-top: 20px;
}
.contact-info p{
    margin: 8px 0;
    font-size: 16px;
}
.contact-form{
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0,8px,20px rgba(0,0,0,0.1);

}
.contact-form h2{
    font-size: 28px;
    margin: 20px;
}
.contact-form{
    width: 60%;
    margin: 40px auto;
}
.contact-form form {
display: flex;
flex-direction: column;
gap: 15px;
}
.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1 solid #ccc;
    font-size: 16px;
    outline: none;
}
.contact-form input:focus,
.contact-form textarea:focus {
    border: 1px solid #f44336;
}
.contact-btn {
    background: #f44336;
    color: black;
    border: none;
    padding: 15px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-btn:hover {
    background: #d8372e;
}
.footer{
    width: 100%;
    background: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}
.footer{
    color: #ccc;
    font-size: 16px;
}
.about{
    width: 80%;
    margin: 100px auto;

}
.about-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.about-text{
    flex: 1;
}
.about-text h2{
    font-size: 80px;
margin-bottom: 20px;
}
.about-text p{
    font-size: 28px;
    line-height: 30px;
    color: #333;
}


.about-images img{
    width: 100px;
    border-radius:12px ;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
@media (max-width: 900px) {
    .nav-links {
        background: rgba(0, 0, 0, 0.95);
    .about-container {
        flex-direction: column;
        text-align: center;
    }
    }
    
}
.footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
    margin-top: 50px;
}

.footer p {
    font-size: 19px;
    margin-bottom: 20px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #fff;
    font-size: 26px;
    margin: 0 12px;
    text-decoration: none;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #f44336;
}

